:root {
  /* Paleta de Colores Yamanil / Coca-Cola */
  --primary-color: #F40009; /* Rojo Oficial Coca-Cola */
  --primary-dark: #D10000;  /* Rojo más oscuro para hovers */
  --secondary-color: #000000; /* Negro puro para textos y contrastes */
  --text-gray: #333333;       /* Gris oscuro para párrafos */
  
  --white: #ffffff;
  --gray-light: #f8f8f8;      /* Fondo muy sutil */
  --gray-border: #e0e0e0;
  
  --font-main: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background-color: var(--gray-light);
  color: var(--text-gray);
  line-height: 1.6;
}

h1, h2, h3, h4, strong {
  color: var(--secondary-color); /* Títulos en negro */
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

ul {
  list-style: none;
}